*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#fff6f8;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#ff4d88;

position:sticky;
top:0;

}

.logo{

color:white;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-weight:bold;

}

nav a:hover{

color:yellow;

}

.hero{

display:flex;

justify-content:space-around;

align-items:center;

padding:60px;

}

.hero-text{

width:45%;

}

.hero-text h1{

font-size:45px;

color:#ff4d88;

}

.hero-text p{

margin-top:20px;

line-height:30px;

font-size:18px;

}

.btn{

display:inline-block;

margin-top:25px;

padding:14px 30px;

background:#ff4d88;

color:white;

text-decoration:none;

border-radius:30px;

}

.hero-img img{

width:500px;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.judul{

text-align:center;

margin-top:40px;

font-size:25px;

color:#ff4d88;

}

.produk{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

padding:50px;

}

.card{

background:white;

border-radius:15px;

padding:20px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.15);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;

height:260px;

object-fit:cover;

border-radius:10px;

}

.card h3{

margin:15px 0;

}

.card p{

color:#ff4d88;

font-size:22px;

margin-bottom:15px;

font-weight:bold;

}

.card a{

background:#ff4d88;

padding:10px 20px;

color:white;

text-decoration:none;

border-radius:10px;

}

footer{

margin-top:40px;

background:#ff4d88;

color:white;

padding:20px;

text-align:center;

}